
@using HST.Art.Web
@using HST.Art.Core

@model User
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
@Scripts.Render("~/bundles/saos")
@Styles.Render("~/appcss")
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 个人信息 <a class="btn btn-primary radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="form">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                <span class="current">个人信息</span>
                <span class="">修改密码</span>
            </div>
            <div class="tabCon user-wrap" style="display: block;">
                <div class="row cl">
                    <label class="form-label col-xs-2 col-md-1">
                        用户名：
                    </label>
                    <div class="formControls text col-xs-6">
                       @Model.UserName
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-md-1">
                        手机：
                    </label>
                    <div class="formControls text col-xs-6">
                        @Model.Telephone
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-md-1">
                        邮箱：
                    </label>
                    <div class="formControls text col-xs-6">
                        @Model.Email
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-md-1">
                        创建时间：
                    </label>
                    <div class="formControls text col-xs-6">
                        @Model.CreateDate.ToString("yyyy-MM-dd")
                    </div>
                </div>
            </div>
            <div class="tabCon user-wrap" style="display: none;">
                <form id="form-admin">
                    <div class="row cl">
                        <label class="form-label col-xs-2 col-md-1"><span class="c-red">*</span>原密码：</label>
                        <div class="formControls col-xs-8 col-md-3">
                            <input type="password" class="input-text" autocomplete="off" value="" placeholder="原密码" id="oldPwd" name="oldPwd">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-2 col-md-1"><span class="c-red">*</span>新密码：</label>
                        <div class="formControls col-xs-8 col-md-3">
                            <input type="password" class="input-text" autocomplete="off" value="" placeholder="新密码" id="newPwd" name="newPwd">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-2 col-md-1"><span class="c-red">*</span>确认新密码：</label>
                        <div class="formControls col-xs-8 col-md-3">
                            <input type="password" class="input-text" autocomplete="off" placeholder="确认新密码" id="renewPwd" name="renewPwd">
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="col-xs-8 col-md-3 col-xs-offset-4 col-sm-offset-1">
                            <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont"></i> 修改</button>                      
                        </div>
                    </div>
                </form>
            </div>
        </div>
     
    </div>
</div>
@Scripts.Render("~/bundles/validate")
@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#tab-system").Huitab({
                index: 0
            });

            $("#form-admin").validate({
                rules: {
                    oldPwd: {
                        required: true,
                        minlength: 6
                    },
                    newPwd: {
                        required: true,
                        minlength: 6
                    },
                    renewPwd: {
                        required: true,
                        minlength: 6,
                        equalTo: "#newPwd"
                    }
                },
                messages:{
                    oldPwd: {
                        required: "请输入原密码",
                    },
                    newPwd: {
                        required: "请输入新密码",
                    },
                    renewPwd: {
                        required: "请输入确认新密码",
                        equalTo: "确认新密码与新密码不一致"
                    }
                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "@Url.Action("update")",
                        success: function (data) {
                            if (data == "ok") {
                                layer.alert('修改成功，请重新登录！', {
                                    icon: 6,
                                    closeBtn: 0,
                                    yes: function () {
                                        layer.closeAll();
                                        parent.location.reload();                                   
                                    }
                                });
                            } else if (data == "error") {
                                layer.alert('修改失败！', { icon: 5 });
                            } else {
                                layer.alert(data, { icon: 7 });
                            }
                        },
                        error: function (XmlHttpRequest, textStatus, errorThrown) {
                            layer.alert('修改失败！', { icon: 5 });
                        }
                    });
                }
            });
        });
    </script>
}