@{
    Layout = "";
}
@using cncbk_resource.Models
@model  ResAdminViewModel

@Scripts.Render("~/bundles/saos")
@Scripts.Render("~/bundles/ajaxAsync")
@Scripts.Render("~/bundles/validate")
@Styles.Render("~/appcss")
<style type="text/css">
    .form-horizontal .form-label {
        text-align: right;
    }
</style>
<article class="page-container">
    @using (Ajax.BeginForm("Add", "ResAdmin", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "formSuccess(data)", OnBegin = "disSubmit('sub_btn')", OnComplete = "enSubmit('sub_btn')" }, new { id = "form-good-add", @class = "form form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="row cl">
            <label class="form-label col-xs-3 "><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-6 ">
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "请输入用户名", @class = "input-text" })
                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "error-lable" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 "><span class="c-red">*</span>手机号：</label>
            <div class="formControls col-xs-6 ">
                @Html.TextBoxFor(m => m.Phone, new { placeholder = "请输入手机号", @class = "input-text" })
                @Html.ValidationMessageFor(m => m.Phone, null, new { @class = "error-lable" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 ">邮箱：</label>
            <div class="formControls col-xs-6 ">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "请输入邮箱", @class = "input-text" })
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "error-lable" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 "><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-6 ">
                @Html.PasswordFor(m => m.Password, new { placeholder = "请设置初始密码", @class = "input-text" })
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "error-lable" })

            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 "><span class="c-red">*</span>角色：</label>
            <div class="formControls col-xs-6 ">
                <select class="select select-box" id="sel_role">
                    @if (Model.RoleList == null || Model.RoleList.Count <= 0)
                    {
                        <option value="">请选择角色</option>
                    }
                    else
                    {
                        foreach (var item in Model.RoleList)
                        {
                            <option value="@item.Id">@item.RoleName</option>

                        }
                    }
                </select>
                @Html.TextBoxFor(m => m.RoleId, new { @class = "input-text input-hid" })
                @Html.ValidationMessageFor(m => m.RoleId, null, new { @class = "error-lable" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 ">状态：</label>
            <div class="formControls col-xs-6 ">
                <select class="select select-box" name="State">
                    <option value="0">启用</option>
                    <option value="1">禁用</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <div id="btn_submit" class="col-xs-6  col-xs-offset-3 col-sm-offset-2 mt-10">

                <button class="btn btn-primary radius" id="sub_btn" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                <input name="" type="button" onclick="layer_close();" class="btn btn-default radius " value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
            </div>
        </div>
    }
</article>

<script type="text/javascript">
    $(function () {
        if ($("#sel_role").val().length>0) {
            $("#RoleId").val($("#sel_role").val()).blur();
        }
        $("#sel_role").change(function () {
            $("#RoleId").val($(this).val()).blur();
        })

    })
    function formSuccess(result) {
        if (result != null) {
            if (result.isSuccess) {
                var index = parent.layer.getFrameIndex(window.name);
                layer.alert('保存成功！', {
                    icon: 6,
                    closeBtn: 0,
                    yes: function () {
                        parent.table1.ajax.reload();
                        parent.layer.close(index);
                    }
                });
            } else
                layer.alert('保存失败！', { icon: 5 });//icon:6为开心图
        } else
            layer.alert('保存失败！', { icon: 5 });//icon:6为开心图
    }
</script>