@{Layout = "";}

@using cncbk_resource.Models
@model  ResRoleViewModel

@Styles.Render("~/bootstrap")
@Styles.Render("~/appcss")
<style type="text/css">
    .form-horizontal .form-label {
        text-align: right;
    }
</style>
<article class="page-container">
    @using (Ajax.BeginForm("Add", "ResRole", new AjaxOptions() { HttpMethod = "Post",OnSuccess = "formSuccess(data)", OnBegin = "disSubmit('sub_btn')", OnComplete = "enSubmit('sub_btn')" }, new { id = "form-good-add", @class = "form form-horizontal" }))
    {
        @Html.HiddenFor(m=>m.Id)
        <div class="row cl">
            <label class="form-label col-xs-3 "><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-6 ">
                @Html.TextBoxFor(m => m.RoleName, new { placeholder = "角色名称", @class = "input-text" })
                @Html.ValidationMessageFor(m => m.RoleName, null, new { @class = "error-lable" })
            </div>
        </div>
        <div class="row cl">
            <input type="hidden" id="rolelist" name="rolelist" />
            <label class="form-label col-xs-3 "><span class="c-red">*</span>菜单权限：</label>
            <div class="formControls col-xs-6 ">
                <select class="selectpicker form-control" id="sel_fir" multiple title="请选择权限" data-hide-disabled="true" data-live-search="false" data-selected-text-format="count > 5">
                   
                </select>

            </div>
        </div>
        <div class="row cl">
            <div id="btn_submit" class="col-xs-6  col-xs-offset-3 col-sm-offset-2 mt-10">
                <button class="btn btn-primary radius" type="submit" id="sub_btn" onclick="return subdata();"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                <input name="" type="button" onclick="layer_close();" class="btn btn-default radius " value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
            </div>
        </div>
    }
</article>
@Scripts.Render("~/bundles/saos")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/ajaxAsync")
@Scripts.Render("~/bundles/validate")
<script type="text/javascript">
    $(function(){
        $('.selectpicker').selectpicker();
    })
    var jsonobj=@Html.Raw(ViewBag.select);
    $('.selectpicker').html(gethtml(jsonobj,0));
    function gethtml(obj,pid){
        if(obj!=null){
            var htmllist=[];
            for (var i in obj) {
                if(obj[i].ParentId==pid)
                {
                    if(obj[i].ParentId==0){
                        htmllist.push("<optgroup id='"+obj[i].Id+"' label='"+obj[i].Name+"'>");
                        htmllist.push(gethtml(obj,obj[i].Id));
                        htmllist.push("</optgroup>");
                    }
                    else
                        htmllist.push(" <option value='"+obj[i].Id+"'>"+obj[i].Name+"</option>");
                }
            }
            return htmllist.join('');
        }
    }

    function formSuccess(result) {
        if (result!=null) {
            if (result.isSuccess) {
                var index = parent.layer.getFrameIndex(window.name);
                layer.alert('保存成功！', {
                    icon: 6,
                    closeBtn: 0,
                    yes: function () {
                        parent.table1.ajax.reload();
                        parent.layer.close(index);
                    }
                });
            } else
                layer.alert('保存失败！', { icon: 5 });//icon:6为开心图
        } else
            layer.alert('保存失败！', { icon: 5 });//icon:6为开心图
    }

    function subdata(){
        var thisval=$('.selectpicker').selectpicker('val');
        if(thisval==null)
            layer.msg("请选择权限")
        else{
            $("#rolelist").val(thisval);

            return true;
        }
        return false;
    }
</script>